@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #111827;
}

body {
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  outline: none !important;
}

a,
button {
  cursor: pointer;
}

a:hover,
button:hover {
  text-decoration: none;
}

a:active,
a:focus,
button:active,
button:focus {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.iframe-container {
  overflow: hidden;
}

/* Auto Carousel */
.scroller {
  max-width: 80%;
}

.scroller__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5rem));
  }
}

@media only screen and (max-width: 768px) {
  .scroller {
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .scroller {
    width: 100%;
    max-height: 400px;
  }

  .scroller__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: 100%;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }

  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      0deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    mask: linear-gradient(0deg, transparent, white 10%, white 90%, transparent);
  }

  @keyframes scroll {
    to {
      transform: translate(0, calc(-50% - 2rem));
    }
  }
}
/* Auto Carousel */

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Switch */